{{#section 'head'}}
<title>RedStore | Ecommerce WebSite</title>
<link rel="stylesheet" href="/css/home.css">
{{/section}}


<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="/images/logo.png" width="125px">
            </div>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contect</a></li>
                    <li><a href="">Account</a></li>
                </ul>
            </nav>
            <h1>Holle {{userName}}</h1>
        </div>
    </div>
</body>

{{#section 'script'}}
<script>

</script>
{{/section}}